In [1]:
############################################################################################ 
# Data Munging for Tableau
# Gary Schulke
# February 02, 2020
############################################################################################
############################################################################################
############################################################################################

In [2]:
############################################################################################ 
# Section 1
# 
############################################################################################

In [3]:
import pandas as pd

In [4]:
# Finish cleaning with Pandas
# Comment / uncomment out file and periodTags as need.
# The path to our CSV file

source_folder = '' #'./'

file = "201901-citibike-tripdata.csv"

In [28]:
import glob

files = [f for f in glob.glob(source_folder + "**/*-citibike-tripdata.csv", recursive=True)]

for each in files:
    print(f)

In [5]:
# Read data into pandas
df = pd.read_csv(source_folder + file)
# Take a look at it.
df.iloc[0:10]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,316,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,591,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,2719,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,303,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1
5,535,2019-01-01 00:08:33.1790,2019-01-01 00:17:28.3540,3630.0,Frederick Douglass Blvd & W 115 St,40.803865,-73.955931,3529.0,Lenox Ave & W 130 St,40.810792,-73.943068,30315,Subscriber,1989,2
6,280,2019-01-01 00:09:21.0060,2019-01-01 00:14:01.1510,3675.0,3 Ave & E 95 St,40.784597,-73.949685,3288.0,E 88 St & 1 Ave,40.778301,-73.948813,35391,Subscriber,1987,1
7,1547,2019-01-01 00:11:22.9070,2019-01-01 00:37:10.0550,285.0,Broadway & E 14 St,40.734546,-73.990741,3358.0,Garfield Pl & 8 Ave,40.671198,-73.974841,35551,Subscriber,1981,1
8,300,2019-01-01 00:12:17.9310,2019-01-01 00:17:18.8300,3394.0,Columbia St & W 9 St,40.676999,-74.006471,3398.0,Smith St & 9 St,40.674696,-73.997858,18636,Subscriber,1990,2
9,123,2019-01-01 00:12:19.6030,2019-01-01 00:14:23.1040,432.0,E 7 St & Avenue A,40.726218,-73.983799,3656.0,E 2 St & Avenue A,40.723077,-73.985836,35206,Subscriber,1987,1

In [6]:
# Get a list of all of our columns, columns named deleteX will be deleted for easy reference.
df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [10]:
# Rename the columns
headings = {'tripduration':'tripduration', 'starttime':'starttime', 'stoptime':'stoptime',
         'start station id':'start_station_id', 'start station name':'start_station_name',
         'start station latitude':'start_station_latitude', 
         'start station longitude':'start_station_longitude', 
         'end station id':'end_station_id','end station name':'end_station_name',
         'end station latitude':'end_station_latitude', 
         'end station longitude':'end_station_longitude', 
         'bikeid':'bikeid', 'usertype':'usertype', 'birth year':'birth_year', 
         'gender':'gender'}
df = df.rename(columns=headings)
df.head()

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,316,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,591,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,2719,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,303,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1

In [ ]:
#df.drop(['Unnamed: 8'], axis = 1, inplace = True) 
#df = df.dropna()

In [11]:
df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start_station_id           float64
start_station_name          object
start_station_latitude     float64
start_station_longitude    float64
end_station_id             float64
end_station_name            object
end_station_latitude       float64
end_station_longitude      float64
bikeid                       int64
usertype                    object
birth_year                   int64
gender                       int64
dtype: object

In [18]:
df4060 = df[df['birth_year'].isin([1950, 1960, 1970, 1980])]

In [19]:
df4060.head()

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
36,813,2019-01-01 00:27:12.5070,2019-01-01 00:40:45.5940,3165.0,Central Park West & W 72 St,40.775794,-73.976206,450.0,W 49 St & 8 Ave,40.762272,-73.987882,32899,Subscriber,1970,1
49,711,2019-01-01 00:31:36.9290,2019-01-01 00:43:28.0580,346.0,Bank St & Hudson St,40.736529,-74.006180,529.0,W 42 St & 8 Ave,40.757570,-73.990985,29078,Subscriber,1980,1
53,220,2019-01-01 00:34:01.4710,2019-01-01 00:37:42.2550,316.0,Fulton St & William St,40.709560,-74.006536,195.0,Liberty St & Broadway,40.709056,-74.010434,20120,Subscriber,1980,1
57,837,2019-01-01 00:35:04.5250,2019-01-01 00:49:01.6370,458.0,11 Ave & W 27 St,40.751396,-74.005226,334.0,W 20 St & 7 Ave,40.742388,-73.997262,29066,Subscriber,1960,1
61,268,2019-01-01 00:37:57.8670,2019-01-01 00:42:26.2600,439.0,E 4 St & 2 Ave,40.726281,-73.989780,150.0,E 2 St & Avenue C,40.720874,-73.980858,20727,Subscriber,1980,1

In [24]:
len(df)

967287

In [25]:
len(df4060)

59212

In [ ]:

df4060.to_csv(source_folder + file_name + '4070.csv'